<section class="innerHead">
   <div class="top_innerHead">
      <img src="/img/icon_arrow.svg" class="arrowIcon">
      <a href="/" class="breadcrumb">HOME </a>
      <span> / COUNTRIES FOR <%= @continent.upcase  %> </span>
   </div>
   <div class="bottom_innerHead">
      <h1>Countries <br/>for <%= @continent  %></h1>
<a href="/continents/index" class="backButton"><img src="/img/icon_back.svg">Back to Continents</a>

   </div>
</section>
<section class="uniquePanel">

  <div class="gridItems">
     <% @countries.each do |country| %>
     <a href="/countries/<%= country.id %>">
        <div class="gridItem">
           <div class="gridImage">
              <img src="/img/countries/<%= country.name[0..3] %>.jpg" alt="">
           </div>
           <% if country.visited == 1 %>
           <img src="/img/icon_visited.svg" alt="Icon for non visited place" class="iconGrid">
           <% else %>
             <img src="/img/icon_no_visited.svg" alt="Icon for non visited place" class="iconGrid">
           <% end %>
           <div class="gridContainer">
              <div class="gridText">
                 <h3 class="gridName"><%= country.name %></h3>
                 <p class="gridContinent"><%= country.continent %></p>

              </div>
              <div class="gridReviews">
                 <img src="/img/icon_star.svg" alt="">
                 <p class="gridRate"><%= country.total_rate %></p>
              </div>
           </div>
        </div>
     </a>
     <% end %>
  </div>



</section>
